{
  "Instructions": "This file needs to be in the 'server' folder without the 'template' extension (config.json)",
  "DBName": "<database name>",
  "connectionString": "<connection string>",
  "secret": "<secret string>",
  "emailFrom": "<email from>",
  "smtpOptions": {
    "host": "<smpt server address>",
    "port": 587,
    "auth": {
        "user": "<email address>",
        "pass": "<email password>"
    }
  }
}
